.list__title {
  margin-left: 20px;
}

.list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgb(89, 88, 86);
  width: 400px;
  margin-left: 40px;
  margin-bottom: 4px;
  border-radius: 20px;
  height: 40px;
}

.list__task-date {
  color: beige;
  font-size: 20px;
  margin-left: 10px;
}

.list__icon {
  width: 30px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 6px;
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.list__icon--rotated {
  transform: rotate(0deg);
}

.list__container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color: beige;
  background-color: rgb(89, 88, 86);
  width: 400px;
  height: 200px;
  border-radius: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.list__checkbox {
  display: none;
}
.list__activity::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 4px;
  margin-right: 10px;
  vertical-align: middle;
}
.list__checkbox:checked + .list__activity::before {
  background-color: #f4f4f4;
  border-color: #f4f4f4;
  content: "\2713";
  color: rgb(10, 5, 5);
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.list__task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.list__activity {
  flex: 1;
  font-size: 16px;
  padding-left: 10px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list__delete {
  margin-left: 0;
  border-radius: 8px;
  border: none;
  flex-shrink: 0;
  cursor: pointer;
}

.list__empty {
  margin-left: 20px;
}
